@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');

html, body {
    height: 100%;
    margin: 0; 
    font-family: "Barlow", sans-serif;
}


@keyframes fade-in {
    from {
      opacity: 0;      
    }
    to {
      opacity: 1;      
    }
  }
  
  h1, p{
    opacity: 0;
    animation: fade-in 2.3s ease-in;
    animation-fill-mode: forwards;
    font-family: "Barlow", sans-serif;
  }

.header-content h1, p{
    color: #0033a0; 
    font-weight: bold;       
}

.text-content{
    padding-top: 100px;
}

.text-content h1{
    margin-top: 0px;
    margin-bottom: -15px;
}

.cajaheader{
    height: 0%;
}

.logo{
    width: 7%;
    position: absolute;
    float: right;
    right: 15%;
    top: 6%;
}

.imgizq {
    width: 25%;
    float: left; /* Hace que la imagen se alinee a la izquierda */
    left: 0%;
    position: absolute;
}

.imgder {
    width: 35%;
    float: right; /* Hace que la imagen se alinee a la derecha */    
    position: absolute;
    right: 0%;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
  }

  .cajafooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }


  .fixed-footer img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }


.card-group{
  position: relative;
  z-index: 1;
  margin-top: 95px;
}


/* FLEX   */

.row {
display: flex;
align-items: center;
justify-content: center;
height: 40vh;
}

.flex-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.flex-content  .header-content .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-flex {
  height: 100vh;
  background-image: url('../public/img/flex/fondoflexazul.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 15%; 
}



.section-video{
  margin-top: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 (dividir altura entre anchura) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-principal iframe{ 
  top: 0;
  left: 0;
  width: 80%;
  height: 50vh;

}

.section-trivia {
  height: 100vh;
  height: 100vh;
  background-image: url('../public/img/flex/fondoflexamar.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 17%; 
}

.card{
  margin: 0;
  padding: 0;
}

.imgonda{
  position: absolute;
    top: 100%;
    left: 0;
    width: 15%;
    height: 17%;
    background-image: url('ruta/de/la/imagen.jpg');
    background-size: cover;
    z-index: 9999;
}

.section-slider{
  width: 100%;
  height: 50vh;
}

.section-slider .card{  
  width: 100%;
  height: 300px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  place-content: center;
  justify-content: center;
}

.section-slider .card-text{
  font-size: 15px;
  text-align: center;
}


.section-slider .card-body{  
  border-radius: 25px;  
}

.bg-slider{
  background-color: #ffff;
  padding-bottom: 30px;
}

.box-slider{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background: #ffff;
  max-width: 1000px;
}

.wrapper-slide {  
  position: relative;
  overflow-x: hidden;
  max-width: 1180px; /* Modifica el ancho del contenedor a un valor menor */
  background: #fff;
  border-radius: 13px;
  display: flex; /* Agrega la propiedad flexbox */
  justify-content: center; /* Centra los elementos en el contenedor */
  align-items: center; /* Centra los elementos en el contenedor */
}

.wrapper-slide .icon {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;  
}

.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #ffff;
  z-index: 1;
}
.icon i:hover {
  background: #ffff;
}
.icon:first-child i {
  margin-right: 15px;
  
} 
.icon:last-child i {
  margin-left: 15px;
} 
.wrapper-slide .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tab img{
  width: 300px;
}

.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;  
  padding: 13px 20px;
  border-radius: 30px; 
}

.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

.tabs-box .tab.active img{
  filter: grayscale(0%);
}

.fa-angle-right {
  font-size: 250% !important; /* Ajusta el tamaño del icono */
  font-weight:bold; /* Ajusta el grosor del icono */
  color: #0033a0;
}
.fa-angle-left {
  font-size: 250% !important; /* Ajusta el tamaño del icono */
  font-weight: bold; /* Ajusta el grosor del icono */
  color: #0033a0;
}


.section-footer{
height: 10vh;

}

.img-footer {
  position: relative;
}

.img-footer::before {
  content: "";
  background-image: url('../public/img/flex/flexfoot.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.download-links{ 
  justify-content: center;
  align-items: center;
  place-content: center;
  margin-top: 0%;
  margin-bottom: -9%;
}

@media (max-width: 1366px) {   


   .logo{
    width: 9%;
    right: 15%;
    top: 3%;
    z-index: -1;
   }   

   .flex-content{
    height: 73vh;   
    padding-bottom: 17%;
   }
   
   .section-video{
    height: 100vh;
   }

   .section-trivia{
    height: 110vh;
    padding-bottom: 20px;
   }

   .section-slider{
    height: 100vh;
   }
   .section-footer{
    height: 40vh;
   }

}

@media (max-width: 1200px) {

    .logo{
        width: 9%;
        right: 15%;
        top: 4%;
       }

    .card-group{
        margin-top: 6% !important;
        width: 70% !important;
       }
   
  }

  @media (max-width: 1024px) {
    .logo{
      width: 10%;
      right: 11%;
      top: 2%;
     }


  .text-content{
   padding-top: 152px;
  }

  .cajafooter{
    margin-top: 23%;
  }

  .card-group{
    margin-top: 25% !important;
   
   }

 
  }
   

  @media (max-width: 415px) {
    .imgizq {
      width: 60%;
      float: left; 
      left: 0%;
      position: absolute;
  }
  
  .imgder {
      width: 50%;
      float: right;    
      position: absolute;
      right: 0%;
  }

  .logo{
    width: 25%;
    right: 3%;
    top: 2%;
   }

   .section-flex{
    margin-top: 200%;
    height: 100vh;
   }

   .section-flex h1{
    margin-top: 10%;
    margin-bottom: 10%;
   }
     
   .imgonda{
    z-index: -2;
    width: 30%;
    top: 70%;      
   }     
  
   .section-video{
    height: 200vh;
   }
   .section-trivia{
    height: 100vh;
    margin-top: 20%;
   }

   .wrapper-slide{
    padding: 0;
    max-width: 100%;
   }

   header{
    height: 50vh;
   }

  

  }
  